# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Backend
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.gitignore
# testing
/coverage
backend_api_documentation.md
# next.js
/.next/
/out/
/mahrakar.zip 
# production
/build
/test_api.py
/test_user_type.py
# misc
.DS_Store
*.pem
/test_api.py
Employerpanel.md
/test_user_type.py
/test_api.py
/test_api_final.py
/test_api_fixed.py
/گزارش کامل پنل کارفرما.md
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
